* {
    margin: 0;
}

.nav-bar {
    padding: 5px 10vw;
    width: 100%;
    background-color: black;
    display: none;
}

.nav-display {
    display: block;
    position: fixed;
}

#test{
    font-size: 3vw;
    font-family: 'Special Elite', cursive;
    color: whitesmoke;
}

.nav-bar span {
    color: rgb(218, 218, 52);
}

.lang-banner {
    background-color: #212529;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-details {
    width: 30%;
    text-align: center;
}

.banner-details h1 {
    font-size: 9vw;
    font-family: 'Special Elite', cursive;
    color: whitesmoke;
}

.banner-details span {
    color: rgb(218, 218, 52);
}

.banner-details p {
    font-size: 2.5vw;
    width: 90%;
    margin: 4vw auto 0;
    color: whitesmoke;
}

.lang-banner img {
    width: 35%;
    height: 75%;
}

.details {
    display: flex;
}

.left-pane {
    height: calc(100% );
    width: 60%;
    background-color: rgb(216,214,214);
    overflow-y: auto;
}

.pane-container {
    padding: 0 0vw;
    margin-top: 15px;
}

.pane-container ul {
    margin: 20px;
    padding: 0;
    list-style: none;
}

.pane-container ul li {
    padding: 3px 0;
}

.contents {
    padding: 5vw 8vw;
}

.contents ul {
    margin: 20px;
}

.contents ul li {
    padding: 8px 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background: #202C37;
}

.footer-div {
    color: white;
    font-size: 16px;
}

.footer-details ul {
    list-style: none;
    padding: 20px 0 0;
}

.footer-details ul li {
    padding: 3px 0;
}

.footer-details ul li a {
    color: rgb(219, 219, 219);
    text-decoration: none;
}