*{
    margin: 0;
}

.body{
    background-color: black;

}

.main_page{
    /* background-image: url(./img/marius-niveri-rfg4l6_lu3c-unsplash.jpg); */
    background: linear-gradient(rgb(77, 155, 243), rgb(231, 96, 96));
    display: flex;
    background-size: cover;
}

.details{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
}

.web-name{
    font-size: 8vw;
    font-family: 'Special Elite', cursive;
    color: black;
    margin: 10vh 0 0 5vw ;
    
    
}   

.web-name span{
    /* color: rgb(218, 218, 52); */
    color: rgb(226, 230, 6);
}


.desc{
    font-size: 3vw;
    color: white;
    margin: 8vh 0 0 5vw;
    font-family: 'Poppins', cursive;
}

.content{
    font-size: 1.8vw;
    position: relative;
    margin-top: 2vh;
}

.quote{
    font-size: 3vw;
    margin-top: 10vh;
    font-family: 'Amaranth', cursive;
}

.login{
    transform: translateY(11%);
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: #480f64;
    border-radius: 100px;
    height: 80vh;
    align-items: center; /*horizontally*/
    justify-content: space-evenly;      /* vertically */
}

.login-info{
    font-size: 11vh;
    color: white;
    font-family: 'Special Elite', cursive;
    position: relative;
    margin-top: 4vh;
}

.signup{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center; /*horizontally*/
    justify-content: space-evenly;      /* vertically */
}

.login-btn{
    border-radius: 3vw;
    font-size: 3.7vh;
    text-align: center;
    background-color: green;
    color: black;
    padding: 3vh;
    width: 20vw;
    font-family: 'Amaranth', cursive;
    cursor: default;
}

#google{
    background: linear-gradient(to bottom right ,#DC483C, #B63120);
}

#fb{
    background: #3B5998;
}

.icon{
    position: relative;
    top: 0.2vh;
}

.login-btn:hover i{
    color: rgb(219, 219, 219);
}

.footer{
    display: flex;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
    background: rgb(43, 38, 38);
}

.about{
    background: green;
    height: 25vh;
    width: 15vw;
}

.courses{
    background: red;
    height: 25vh;
    width: 15vw;
}

.resources{
    background: blue;
    height: 25vh;
    width: 15vw;
}

.contact{
    background: orange;
    height: 25vh;
    width: 15vw;
}

@supports (-ms-ime-align: auto) {
    .login, .signup{
        justify-content: space-around;
    }
    .login-info{
        position: relative;
        margin-top: 6vh;
    }
  }